@import url(reset.css);
@import url(fons.css);

html {
    --card-title-line-height: 24px;
}

/* WRAPPER */
.wrapper {

    overflow: clip;
    min-height: 100%;

}

.header {
    margin: 0 auto;
    color: #535353;
    font-size: 13px;
    font-style: normal;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 300;
    line-height: 22px;
}

.header-top {
    width: 100%;
    background-color: rgb(248, 248, 248);
    padding: 15px 0;
}

.header-top__container {
    margin: 0 auto;
    max-width: 1290px;
    width: 100%;

}

.header-top__contacts {
    display: flex;
    justify-content: space-between;
}

.header-top__list {
    display: inline-flex;
    gap: 30px;
    justify-content: space-between;
}

.phone {
    display: inline-flex;
    gap: 10px;
    flex-direction: row;
}



.header-top__helps {
    display: flex;
    gap: 10px;
    justify-content: end;

}

.header-top__list-help {
    display: inline-flex;
    gap: 10px;
    justify-content: end;
}

.header-top__link:hover {
    color: black;
    text-decoration: underline;
}

.header-top__item-help {
    transition: 0.3s;
}

.header-top__item-help:hover {
    transform: scale(1.1);
}


/* MIDLE */

.header-midle {
    padding: 25px 0;
}

.header-midle__container-search {
    margin: 0 auto;
    max-width: 1290px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 0 15px;
    height: 50px;
    width: 100%;
    border: 1px solid #b1b1b1;
    max-width: 418px;
    border-radius: 8px 8px 8px 8px;
    outline: none;
}

.header-midle__list-search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 146px;
    width: 100%;
    padding: 11px 0;

    border-radius: 8px;
    background-color: #FFBC57;
    color: #fff;
    font-size: 19px;
    font-style: normal;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    line-height: 24px;
    z-index: 11;
}

.search-form__input {
    outline: none;
}

.contacts-phone {
    display: inline-flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.text-phone {
    color: #535353;
    font-size: 13px;
    font-style: normal;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 300;
    line-height: 22px;
}

.conect-tel {
    color: #2b2929;
    font-size: 20px;
    font-style: normal;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    line-height: 28px;
}

.favourites {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header-midle__list-search::before {
    content: '';
    height: 24px;
    width: 24px;
    background-image: url("../image/search/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.header-midle__list-search:hover {
    background-color: #f7a01d;
}

.link-basket {
    transition: 0.3s;
}

.link-favorites {
    transition: 0.3s;
}

.link-favorites:hover {
    transform: scale(1.1);
}

.link-basket:hover {
    transform: scale(1.1);
}

/* LINE */
.header__line {
    border: 2px solid rgb(248, 248, 248);
}



/* header bottom */

.header-bottom {
    padding: 18px 0;

}

.header-bottom__container {
    margin: 0 auto;
    max-width: 1290px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.proposition {
    display: inline-flex;
    flex-direction: row;
    gap: 40px;

}

.goods {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.proposition__item:hover {
    color: black;
    text-decoration: underline;
}

.goods__item-list:hover {
    color: black;
    text-decoration: underline;
}


/* MAIN */

.main {
    background-color: rgb(248, 248, 248);
    background-size: 100vw;
}

/* BANNER */

.head-img {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto 70px;
    padding-top: 30px;
}

.head-img__image {
    border-radius: 8px;
}

/* !POPULAR CATEGORY */

.category {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto 80px;
    color: #2b2929;
    font-size: 20px;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    line-height: 28px;
}

.category__title {
    margin-bottom: 40px;
    color: #2b2929;
    font-size: 40px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    line-height: 48px;
}

.category__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 24px;
    flex-grow: 0;

}




.category__link-container {
    position: relative;
    max-width: 250px;
    height: 300px;
    width: 100%;
    box-shadow: -3px 4px 15px 0 rgba(0, 0, 0, .06);
    border-radius: 8px 8px 8px 8px;
    background-color: #fff;
    transition: 0.3s;
    z-index: 2;
}

.category__text {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #2b2929;
    font-size: 20px;
    font-style: normal;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    line-height: 28px;
}

.category__vector {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    max-width: 50px;
}



.category__number {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #b1b1b1;
    font-size: 20px;
    font-style: normal;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    line-height: 28px;
}

.category__link-container:hover {
    transform: scale(1.03);
    box-shadow: -3px 4px 15px 0 #FFBC57;
}


.category__link-container:hover .category__text {
    color: #FFBC57;
}

.category__link-container:hover .category__vector {
    display: block;
}

/* !POPULAR category */

.popular-products {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    color: #2b2929;
    font-size: 19px;
    text-align: left;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    line-height: 24px;
}

.container-title {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.title-h2 {
    font-size: 40px;
    line-height: 1;
}

.look-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFBC57;
    font-size: 19px;
    font-style: normal;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    line-height: 24px;
}

.cards {
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.cards__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    max-width: 300px;
    padding: 20px;
    border-top: 1px solid #e3e2e2;
    box-shadow: -3px 4px 15px 0 rgba(0, 0, 0, .06);
    box-sizing: border-box;
    border-left: 1px solid #e3e2e2;
    border-right: 1px solid #e3e2e2;
    border-bottom: 1px solid #e3e2e2;
    border-radius: 8px 8px 8px 8px;
    background-color: #fff;
    transition: 0.3s;
}

.cards__img {
    margin-bottom: 20px;
}

.cards__information {
    display: flex;
    align-items: end;
    flex-grow: 1;
}

.cards__text-cards {
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

.cards__span,
.cards__information {
    color: #535353;
    font-size: 13px;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 300;
    line-height: 22px;
}

.cards__title {
    height: calc(var(--card-title-line-height) * 2);
}

.cards__icon {
    display: flex;
    gap: 10px;
}


.cards__sell {
    color: #e03d3d;
    text-decoration: line-through;
}

.cards__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards__span-container {
    display: flex;
    flex-direction: column;
}

.cards__prise {
    color: #2b2929;
    font-size: 20px;
    font-family: "Proxima Nova", sans-serif;
    line-height: 28px
}

.look-link:hover {
    text-decoration: underline;
}

.cards__information::before {
    content: "";
    vertical-align: top;
    background: url(../image/goods/check.svg) 0 0 / 100% no-repeat;
    margin-right: 1px;
    width: 20px;
    height: 20px;
}

.cards__item:hover {
    transform: scale(1.02);
}

/* !SELL SECTION */

.sell {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 70px;
    font-family: "Proxima Nova", sans-serif;
}

.sell__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-grow: 0;
}

.sell__container-title {
    padding-bottom: 46px;
}

.sell__img {
    width: 100%;
    height: auto;
    max-width: 410px;
    border-radius: 8px 8px 8px 8px;
}

.footer {
    background-color: #2B2929;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
}