.parent {
    display: flex;
    flex-direction:row-;
    justify-content:space-evenly;
    align-items:end;
    height: 300px;
    width: 350px;
    border: 2px solid rebeccapurple;
}

.child {
    height: 50px;
    width: 50px;
    border: 1px solid skyblue;
    text-align: center;
}

.elem {
    order: -1;
}

.child:nth-child(1) {
    background-color: yellow;
}
.child:nth-child(2) {
    background-color: yellow;
    order: 2;
}
.child:nth-child(3) {
    background-color: yellow;
    order:1;
}
.child:nth-child(4) {
    background-color: yellow;
    order: 5;
}

/* _0_ 0 0 ^ 0 0   => -1 0 _1_ 2 3 */ 