/* Підключення */

@import url(./reset.css);
@import url(./fonts.css);



* body {
  background-color: #fff;
}

.about {
  padding: 120px 0 20px 0;
  margin: 0 auto;
  font-size: 60px;
  font-family: "Exo";
  background-image: url("../image/about.png");
  min-width: 1512px;
  min-height: 556px;
  text-align: center;
  color: #fff;
}

.about__title {
  margin: 0 0 20px;
  font-family: "Exo", sans-serif;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  color: white;
}

.about__title::after {
  margin: 20px auto 0;


  content: "";
  display: block;
  max-width: 400px;

  width: 100%;

  height: 1px;
  background: linear-gradient(90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(66, 255, 0, 1) 51%,
      rgba(36, 0, 255, 1) 100%);
}

.about__text {
  margin: 0 auto 70px;
  font-size: 18px;
  text-align: center;
  font-family: "Exo", sans-serif;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -1px;
  max-width: 992px;
}

.about__introduce-list {
  margin: 0 0 0 224px;

  font-family: "Orbitron", serif;
  text-align: left;
  line-height: 25px;

}

.about__introduce-item {
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Orbitron", sans-serif;
  color: #fff;
  font-weight: 500;
  margin-right: 60px;
}


.about__introduce-item::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 51%, rgba(36, 0, 255, 1) 100%);
  margin-left: 60px;
}

.about__introduce-item:last-child {
  margin-right: 0;
}

/* contacts */

.contacts {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  background-color: black;
  text-align: center;
  color: #fff;
}

.contacts__item {
  display: inline-block;
  margin-right: 80px;
  /* vertical-align: middle; */
  font-family: " Orbitron", sans-serif;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -1px;
}

.contacts__item:last-child {
  margin-right: 0;
}

.number::before {
  content: "";
  margin-right: 20px;
  vertical-align: middle;
  background-image: url(../image/call.png);
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}

.adress::before {
  content: "";
  margin-right: 20px;
  vertical-align: middle;
  background-image: url(../image/location.png);
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}

.email::before {
  content: "";
  margin-right: 20px;
  vertical-align: middle;
  background-image: url(../image/email.png);
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}


/* article */

.article {
  padding: 10px 0 40px;
  background-color: #fff;
  color: #2b2929;
  font-size: 16px;
  max-width: 1070px;
  min-height: auto;
  text-align: left;
  margin: 0 auto;
  width: 1070px;
}

.article__title {
  font-size: 40px;
  font-family: "Proxima Nova semibold", sans-serif;
  font-weight: 400;
  line-height: 48px;
  margin: 0 0 30px;
  text-align: center;
}

.article__img {
  width: 100%;
  height: auto;
  margin: 0;
  max-width: 1070px;
  margin-bottom: 40px;
  border-radius: 8px 8px 8px 8px;
}

.article__text-about {
  font-family: "proxima Regular", sans-serif;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
  letter-spacing: 0;
}

.article__subtitle {
  font-size: 20px;
  font-family: "Proxima Nova semibold", sans-serif;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 40px;
}

.article__list {
  /* margin-right: 15px; */
  text-align: left;
}

.article__item-list {
  padding-left: 47px;
  font-family: "Proxima Regular", sans-serif;
  text-align: left;
  vertical-align: middle;
  font-weight: 400;
  line-height: 30px;
}

.article__item-list:not(.article__item-list:last-child) {
  margin: 0 0 20px;
}

.article__img-done {
  padding-right: 15px;
}

.aticle__subtitle_paragraf-footer {
  padding-top: 40px;
  font-family: "proxima regular", sans-serif;
  font-weight: 400;
  line-height: 30px;
}

.article__item-list::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
  margin-left: -47px;
  background-image: url(../image/mark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  width: 32px;
  height: 32px;
}

/* main */

.button {
  display: inline-block;
  border: 1px solid mediumturquoise;
  background-color: mediumturquoise;
  width: 100px;
  height: 50px;
  border-radius: 10%;
  color: #fff;
  text-align: center;
  margin: 0 50px;
}

.button:hover {
  background-color: #fff;
  color: #2b2929;
}

.button:active {
  background-color: #fff;
  color: mediumturquoise;
}

.elements:focus {
  outline: 3px double blueviolet;
}

.visited:visited {
  color: red;
}

.lorem__list {
  font-size: 16px;
  line-height: 125%;
  /* 20px/16 */
  font-family: sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.lorem__item {
  padding: 10px;
}

.lorem__item:first-child {
  color: yellowgreen;
}

.lorem__item:nth-child(even) {
  color: blue;
}

.text-lorem p:first-of-type {
  outline: 1px double hotpink;
  margin: 50px;
}

.text-lorem p:last-of-type {
  margin: 20px;
  font-style: italic;
}

/* Games */

.lines {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  background-color: purple;
}

.lines__container {
  margin: 20px;
  transition: all 0.3s;
}

.lines__line1 {
  width: 40px;
  height: 60px;
  background-color: lawngreen;
  cursor: pointer;
}

.lines__line1:hover+.lines__line2,
.lines__line2:hover {
  visibility: visible;
}

.lines__line2 {
  width: 560px;
  height: 40px;
  background-color: lawngreen;
  visibility: hidden;
}


.lines__line2:hover+.lines__line3,
.lines__line3:hover {
  visibility: visible;
}

.lines__line3 {
  margin-left: auto;
  width: 40px;
  height: 60px;
  background-color: lawngreen;
  visibility: hidden;
}

.lines__line3:hover+.lines__line4,
.lines__line4:hover {
  visibility: visible;
}

.lines__line4 {
  width: 560px;
  height: 40px;
  background-color: lawngreen;
  visibility: hidden;
}

.lines__line4:hover+.lines__line5,
.lines__line5:hover {
  visibility: visible;
}

.lines__line5 {

  width: 40px;
  height: 60px;
  background-color: lawngreen;
  visibility: hidden;
}

.lines__line5:hover+.lines__line6,
.lines__line6:hover {
  visibility: visible;
}

.lines__line6 {
  width: 560px;
  height: 40px;
  background-color: lawngreen;
  visibility: hidden;
}

.lines__line6:hover+.lines__line7,
.lines__line7:hover {
  visibility: visible;
}

.lines__line7 {
  margin-left: auto;
  width: 40px;
  height: 60px;
  background-color: lawngreen;
  visibility: hidden;
}

.lines__line7:hover+.lines__img,
.lines__img:hover {
  visibility: visible;
}

.lines__img {
  margin-left: auto;
  display: block;
  height: 220px;
  visibility: hidden;
}