@font-face {
  font-family: "proxima regular";
  src: url("./proximanova_regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "proxima bold";
  src: url("./proximanova_bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "proxima black";
  src: url("./proximanova_black.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
