@import url(reset.css);
@import url(keyframes.css);

body,
html {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  font-size: 0;
}

/* небо */
.day {
  position: relative;
  height: 400px;
  width: auto;
}

.sky {
  position: absolute;
  display: block;
  width: 100%;
  height: 400px;
  background-color: #72A0C1;
  transform: rotate(360deg);
  z-index: 2;


  animation-name: sky-day;
  animation-duration: 12s;
  animation-delay: 12s;
  animation-timing-function: linear;
  Animation-iteration-count: 1;
}

.sun {
  display: inline-block;
  position: absolute;
  display: block;
  top: 100%;
  left: 100%;
  height: 80px;
  width: 80px;
  outline: 20px dashed orange;
  background-color: yellow;
  border-radius: 100%;
  z-index: 1;

  animation-name: sun-rotate;
  animation-duration: 13s;
  /* animation-delay: 8s; */
  animation-timing-function: ease-in-out;
  Animation-iteration-count: 1;
}

.night {
  display: block;
  height: 400px;
  background-image: url(../image/star-night.jpg);
  background-size: cover;
  z-index: 5;

  animation-name: sky-night;
  animation-duration: 14s;
  animation-delay: 13s;
  animation-timing-function: linear;
  Animation-iteration-count: 1;
}

.moon {
  display: inline-block;
  position: absolute;
  right: 100%;
  top: 100%;
  display: block;
  height: 120px;
  width: 100px;
  background-image: url(../image/moon.png);
  background-size: cover;
  z-index: 1;

  animation-name: moon-animation;
  animation-duration: 14s;
  animation-delay: 13s;
  animation-timing-function: ease-out;
  Animation-iteration-count: 1;
}




/* трава */
.ground {
  display: block;
  height: 600px;
  width: auto;
  background-color: black;
}

.ground__grass {
  position: relative;
  height: 100%;
  background-image: url("../image/pole.jpg");
  /* background-size: 200px; */
  background-position: center;
  z-index: 2;

  animation-name: grass-animation;
  animation-duration: 13s;
  animation-delay: 11s;
  animation-timing-function: ease-out;
  Animation-iteration-count: 1;
}

/* Дорога */
.road {
  position: absolute;
  background: url(../image/row.jpg) 0 0 repeat-x;
  width: 1000%;
  height: 180px;
  z-index: 3;
  animation-name: road-animation;
  animation-duration: 13s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}



/* Авто!!! */
/* тіло авта */

.body-car {
  display: inline-block;
  position: absolute;
  left: 0;
  height: 100px;
  width: 400px;
  border-radius: 0px 16px 10px 10px;
  background-color: black;
  z-index: 10;

  animation-name: car-animation;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-direction: normal;
  Animation-iteration-count: 3;
}


.triangle-1 {
  position: absolute;
  left: 62%;
  bottom: 100%;
  border-right: 50px solid transparent;
  border-bottom: 70px solid black;
}

.triangle-2 {
  position: absolute;
  left: 71%;
  bottom: 98%;
  width: 0;
  border-top: 15px solid transparent;
  border-left: 110px solid black;
}

/* вікна для авта */
.windows {
  position: absolute;
  left: 0%;
  bottom: 100%;
  height: 70px;
  width: 250px;
  border-radius: 10px 5px 0 0;
  background-color: black;
}

.window-1 {
  position: absolute;
  left: 10%;
  top: 20%;
  height: 55px;
  width: 65px;
  background-color: #6699cc;
  border-radius: 10px;
}

.window-2 {
  position: absolute;
  left: 40%;
  top: 20%;
  height: 55px;
  width: 65px;
  background-color: #6699cc;
  border-radius: 10px;
}

.window-4 {
  position: absolute;
  left: 69%;
  top: 20%;
  height: 55px;
  width: 55px;
  background-color: #6699cc;
  border-radius: 10px 0 0 10px;
  z-index: 3;
}

.window-triangle {
  position: absolute;
  top: 20%;
  left: 91%;
  bottom: 100%;
  border-right: 15px solid transparent;
  border-bottom: 55px solid #6699cc;
}

.font-window {
  position: absolute;
  top: 7%;
  left: 102%;
  bottom: 100%;
  border-right: 25px solid transparent;
  border-bottom: 55px solid #6699cc;
  border-radius: 0 0 3px 3px;
  transform: skew(15deg, 5deg);
  z-index: 3;
}

/* колеса */
.shadow-1 {
  position: absolute;
  top: 60%;
  left: 10%;
  height: 40px;
  width: 77px;
  background-color: #181818;
  outline: 8px solid #202020;
  border: 2px solid #505050;
  border-radius: 20px 20px 0 0;
}

.shadow-2 {
  position: absolute;
  top: 60%;
  left: 70%;
  height: 40px;
  width: 77px;
  background-color: #181818;
  outline: 8px solid #202020;
  border: 2px solid #505050;
  border-radius: 20px 20px 0 0;
}


.wheel-1 {
  position: absolute;
  top: 63%;
  left: 11%;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: black;
  z-index: 3;

  animation-name: wheel-animation;
  animation-duration: 45ms;
  animation-direction: normal;
  Animation-iteration-count: infinite;
}

.star-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: gray;
  outline: 14px dashed gray;
}

.wheel-2 {
  position: absolute;
  top: 63%;
  left: 71%;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: black;
  z-index: 3;

  animation-name: wheel-animation;
  animation-duration: 45ms;
  animation-direction: normal;
  Animation-iteration-count: infinite;
}

.star-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: gray;
  outline: 14px dashed gray
}

/* деталі */
.line-1 {
  position: absolute;
  top: 35%;
  left: 3%;
  width: 70px;
  border: 3px solid #282828;
}

.line-2 {
  position: absolute;
  top: 35%;
  left: 24%;
  width: 70px;
  border: 3px solid #282828;
}

.line-3 {
  position: absolute;
  top: 35%;
  left: 45%;
  width: 70px;
  border: 3px solid #282828;
}

.mirror {
  position: absolute;
  left: 60%;
  bottom: 88%;
  height: 30px;
  width: 43px;
  border-radius: 10px;
  background-color: #101010;
  border: 2px solid #505050;
  z-index: 4;
}

.lamp {
  position: absolute;
  left: 93%;
  bottom: 60%;
  height: 20px;
  width: 18px;
  border-radius: 10px;
  background-color: #D0D0D0;
  border: 2px solid #505050;
  z-index: 4;
}

.bamper-1 {
  position: absolute;
  left: 90%;
  bottom: 0%;
  height: 20px;
  width: 48px;
  border-radius: 10px;
  background-color: #202020;
  border: 2px solid #505050;
  z-index: 4;
}

.bamper-2 {
  position: absolute;
  left: 29%;
  bottom: -9%;
  height: 20px;
  width: 159px;
  border-radius: 10px;
  background-color: #202020;
  border: 2px solid #505050;
  z-index: 4;
}

.bamper-3 {
  position: absolute;
  left: -3%;
  bottom: -3%;
  height: 20px;
  width: 48px;
  border-radius: 10px;
  background-color: #202020;
  border: 2px solid #505050;
  z-index: 4;
}

.circle-front {
  position: absolute;
  left: -8%;
  top: 40%;
  height: 70px;
  width: 20px;
  border-radius: 50px;
  background-color: black;
  border: 2px solid #505050;
  z-index: 4;
}


/* Ефекти */
.sun:hover {
  transform: rotate(260deg);
}

.wheel-2:hover {
  transform: rotate(300deg);
}

.wheel-1:hover {
  transform: rotate(300deg);
}